html {
  font: 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  color: #2c2c2c;
  /*border-top: 2px solid #ddd;*/
}

#header {
    top: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    background: #24221f;
    opacity: .96;
    position: fixed;
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
}

#header .itm {
    float: right;
    margin: 10px 110px 0 0;
}

#header .wrapper {
    margin: 0 auto;
    padding: 0 110px;
}

#header .left, #header .right {
    margin-top: 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

#header .travis {
    padding-top: 4px;
}

#header a, #header a:hover, #header a:visited {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

#header .left a, #header .left a:visited, #header .right a, #header .right a:visited {
    color: white;
}

#header ul {
    margin-left: 30px;
    float: left;
    margin-top: 0;
}

#header li {
    font-weight: normal;
    display: inline-block;
    padding: 16px 10px 14px;
    cursor: pointer;
    margin: 0;
    clear: none;
    -webkit-transition: all 0.3s;
    font-size: 13px;
}

#header li:hover {
    background: whitesmoke;
}

li {
    line-height: 20px;
    text-align: -webkit-match-parent;
}

#header li a {
    color: #9e9589;
    background: none;
}

#content {
  padding: 100px 110px 60px 110px;
  background: #efefef url('../img/body.jpg') repeat top left;
}

#documentation {
  padding: 50px 110px 60px 110px;
}

#documentation h1 + p {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
}


h1>img:hover {
  background-color: #a07a5c;
}

em {
    font-style: normal;
    color: #c90a0a;
}

.disclaimer {
    color: #c90a0a;
}

h1 a {
  color: inherit;
  font-weight: inherit;
}

h1 a:hover {
  text-decoration: none;
}

.onload h1 {
  opacity: 1;
}

h2 {
  margin-top: 50px;
  font-weight: 100;
  letter-spacing: 1px;
  border-bottom: 1px solid #bfbfbf;
}

#tag {
  opacity: 0;
  color: #000000;
  font-weight: 100;
  font-size: 30px;
  margin-top: -94px;
  margin-left: 140px;
  margin-bottom: 100px;
  letter-spacing: 2px;
  -webkit-transition: opacity 1s, margin-top 200ms, margin-bottom 200ms, margin-left 1s;
  -moz-transition: opacity 1s, margin-top 200ms, margin-bottom 200ms, margin-left 1s;
  -o-transition: opacity 1s, margin-top 200ms, margin-bottom 200ms, margin-left 1s;
  transition: opacity 1s, margin-top 200ms, margin-bottom 200ms, margin-left 1s;
}

.onload #tag {
  opacity: 1;
  margin-left: 170px;
}

#tag + p {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
}

a {
  color: #8a6343;
  font-weight: bold;
  text-decoration: none;
}

p.bullet-point {
    font-weight:600;
}

a:hover {
  text-decoration: underline;
}

#content ul, #documentation ul {
  margin-top: 20px;
  padding: 0 15px;
  width: 100%;
  /*-webkit-column-count: 2;*/
  /*-moz-column-count: 2;*/
  /*column-count: 2;*/
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#content ul li, #documentation ul li {
  margin-top: 5px;
  margin-right: 60px;
  list-style: none;
  /*border-bottom: 1px solid #eee;*/
  font-size: 12px;
}

#content ul::after, #documentation ul::after {
  content: '.';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

code {
  font: 12px monaco, monospace;
}

pre {
    margin: 30px;
    padding: 30px;
    border: 1px solid #eee;
    border-bottom-color: #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 10px #eee;
    -moz-box-shadow: inset 0 0 10px #eee;
    box-shadow: inset 0 0 10px #eee;
    overflow-x: auto;
}

#content pre {
    background: whitesmoke;
}

img.bordered {
  margin: 30px;
  padding: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 10px #dedede, 0 1px 5px #888;
  -moz-box-shadow: 0 3px 10px #dedede, 0 1px 5px #888;
  box-shadow: 0 3px 10px #dedede, 0 1px 5px #888;
  max-width: 100%;
}

footer {
  background-color: #eee;
  width: 100%;
  padding: 50px 0;
  text-align: right;
  border-top: 1px solid #ddd;
}

footer span {
  display: block;
  margin-right: 30px;
  color: #888;
  font-size: 12px;
}

code .comment { color: #ddd }
code .init { color: #2f6fad }
code .string { color: #5890ad }
code .keyword { color: #8a6343 }
code .number { color: #2f6fad }

/*@media all and (max-width: 850px) {
  ul li {
    width: 100%;
  }
}*/

